table {
    font-size: small;
    border: 1px solid
}
th, td {
    text-align: center;
}
th {
    white-space: nowrap;
    border: 1px solid #000000 !important;;
}
td.normal {
    text-align: center;
    border: 1px solid #000000;
}
.table-fixed {
    width: 100%;
}
.table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.normal img {
    border: solid 2px gold;
}