table {
    font-size: small;
    border: 1px solid
}
th, td {
    text-align: center;
}
th {
    white-space: nowrap;
    border: 1px solid #000000 !important;;
}
td.normal {
    text-align: center;
    border: 1px solid #000000;
}
.table-fixed {
    width: 100%;
}
.table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.normal img {
    border: solid 2px gold;
}

.float-btn {
    position:fixed;
	width:60px;
	height:60px;
    right:25px;
    color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.clear-filter-btn {
    z-index: 1000 !important;
    bottom:330px;	
	background-color:#980923;
}

.filter-user-btn {
    z-index: 1000 !important;
    bottom:250px;	
	background-color:#099872;
}

.filter-btn {
    z-index: 1000 !important;
    bottom:40px;
	background-color:#910998;
}

.show-hide-btn {
    z-index: 1000 !important;
	bottom:40px;	
	background-color:#094998;
}

.float-btn-icon {
  line-height: 60px;
  font-size: 30px;
}
