{{> menu}}
<div class="content">
<h1>Server status</h1>

{{#if server1Status.online}}
  <span class="badge rounded-pill bg-success">Server 1</span>
{{else}}
  <span class="badge rounded-pill bg-danger">Server 1</span>
{{/if}}

{{#if server2Status.online}}
  <span class="badge rounded-pill bg-success">Server 2</span>
{{else}}
  <span class="badge rounded-pill bg-danger">Server 2</span>
{{/if}}

</div>