table {
    font-size: small;
    border: 1px solid
}
th {
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000000 !important;;
}
td.normal {
    text-align: center;
    border: 1px solid #000000;
}
th.terrains, td.terrains {
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000000;
    background-color:#37b1eac6;
}
th.jets, td.jets {
    text-align: center;
    border: 1px solid #000000;
    background-color:#ca7dc8d0;
}
th.warbirds, td.warbirds {
    text-align: center;
    border: 1px solid #000000;
    background-color:#c99653ce;
}
th.helis, td.helis {
    text-align: center;
    border: 1px solid #000000;
    background-color:#cc5c5cc9;
}
th.others, td.others {
    text-align: center;
    border: 1px solid #000000;
    background-color:#d4c156c1;
}
td.terrains, td.jets, td.warbirds, td.helis, td.others {
    cursor:pointer;
}
.table-fixed {
    width: 100%;
}
.table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.float-btn {
    position:fixed;
	width:60px;
	height:60px;
    right:25px;
    color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.clear-filter-btn {
    bottom:330px;	
	background-color:#980923;
}

.filter-user-btn {
    bottom:250px;	
	background-color:#099872;
}

.filter-btn {
    bottom:120px;	
	background-color:#910998;
}

.show-hide-btn {
	bottom:40px;
	background-color:#094998;
}

.lock-btn {
	bottom:440px;
	background-color:#011022;
}

.float-btn-icon {
  z-index: 1000 !important;
  line-height: 60px;
  font-size: 30px;
}

.normal img {
    border: solid 2px gold;
}

.module-disabled {
    filter: grayscale(80%);
}