
<ng-container *ngIf="groupEvents.length > 0">
  <mat-accordion *ngFor="let item of groupEvents">
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ item.dateStr | headerEventDate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item  *ngFor="let event of item.events" role="listitem">
          <app-event-type [event]="event"></app-event-type>
        </mat-list-item>
      </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</ng-container>
  
<h2 *ngIf="groupEvents.length == 0">{{'No data' | translate}}</h2>