<h2 mat-dialog-title>{{ 'New Income Portal' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="currentPage == 1">
        <h3>{{'Welcome' | translate }}<span *ngIf="getUser$ | async as user"> {{user.username}}</span>!!</h3>
        <p>{{'Los Magios is a virtual squad formed in early 2021 with members from all over LATAM' | translate}}.</p>
        <p>{{'We are a group passionate about simulation that seeks to have a good time in an atmosphere of camaraderie and respect' | translate}}.</p>
        <p>{{'We have three servers that work 24x7 each with sandbox missions on different maps' | translate}}.</p>
        <p>{{'The activities we carry out are' | translate}}:</p>
        <ul>
            <li>{{'Wednesdays: Talks/Trainings' | translate}}.</li>
            <li>{{'On Saturdays: Official missions' | translate}}.</li>
        </ul>
        <p>{{'Download and carefully read the guide for new users by clicking' | translate}} <a (click)="onDownloadNewUserGuide()">{{'here'|translate}}</a>.</p>
    </ng-container>
    <ng-container *ngIf="currentPage == 2">
        <h3>{{'What to expect from Los Magios?' | translate}}</h3>
        <ul>
            <li>{{'The idea is that' | translate}} <b>{{'ALL' | translate}}</b>, {{'regardless of level, tastes and ability can fly' | translate}}.</li>
            <li>{{'There are no skill requirements but there is a minimum order requirement so that everyone who collaborates and participates can enjoy' | translate}}.</li>
            <li>{{'No exclusivity of any kind is required; members can be part of other groups freely' | translate}}.</li>
            <li>{{'We don't have skill tests' | translate}}.</li>
            <li>{{'We are not an academy. But if we help each other to continue learning' | translate}}.</li>
            <li>{{'Trolling, abuse, insults, bullying, etc. is not accepted' | translate}}.</li>
            <li><b>{{'We do not use (nor do we have on the servers) mods unofficial from DCS' | translate}}.</b></li>
        </ul> 
    </ng-container>
    <ng-container *ngIf="currentPage == 3">
        <h3>{{'What do we ask?' | translate}}</h3>
        <ul>
            <li>{{'Use of voice channels when entering any of the servers' | translate}}.</li>
            <li>{{'Use of SRS for missions and events' | translate}}.</li>
            <li><b>{{'The dcs callsign must be the same as the discord nickname/username' | translate}}.</b></li>
            <li>{{'Proper use of srs and voice channels' | translate}}.</li>
        </ul> 
    </ng-container>
    <ng-container *ngIf="currentPage == 4">
        <h3>{{'How to complete the entrance to Los Magios?' | translate}}</h3>
        <p>{{'Once you close this popup you will be redirected to the Modules section' | translate}}.</p>
        <p>{{'There you will see a grid with a record that corresponds to your user' | translate}}.</p>
        <p>{{'You must complete your country and the modules you have' | translate}}.<i>{{'We use this information for the assembly of missions' | translate}}.</i></p>
        <p>{{'Activate/deactivate the modules by clicking on the corresponding box. Let' | translate}} <img width="20" src="/assets/images/green.png"> {{'to indicate that you have the module and' | translate}} <img width="20" src="/assets/images/red.png"> {{'to indicate the opposite' | translate}}.</p>
        <p>{{'Once the upload is complete, click on' | translate}} <fa-icon [icon]="faCheck" ></fa-icon> {{'(on the lower right margin) to finish' | translate}}.</p>
        <p>{{'This process will notify an admin to give you access to the rest of Discord's channels' | translate}} <b>{{'Los Magios' | translate}}</b>.</p>
        <p><i>{{'If you want to read these instructions again, you can do so by clicking on' | translate}} <fa-icon [icon]="faQuestion" ></fa-icon> {{'which is in the upper right corner' | translate}}.</i></p>
    </ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onBack()" [disabled]="currentPage == 1">{{'Back' | translate }}</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onNext()" *ngIf="currentPage < 4">{{'Next' | translate}}</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onClose()" *ngIf="currentPage == 4">{{'Close' | translate}}</button>
</mat-dialog-actions>