<h2 mat-dialog-title>{{'Filters' | translate}}</h2>
<mat-dialog-content class="mat-typography">
    <h3>{{'Select filters' | translate}}</h3>
    <div class="row">
        
        <mat-form-field class="filter-element">
            <mat-label>{{'User status' | translate}}</mat-label>
            <mat-select [value]="statusFilter" [ngModel]="statusFilter" multiple (ngModelChange)="onStatusFilterChange($event)">
                <mat-option value="ACTIVE">
                    {{'Actives' | translate}}
                </mat-option>
                <mat-option value="INACTIVE">
                    {{'Inactives' | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-element">
            <mat-label>{{'Role' | translate}}</mat-label>
            <mat-select [value]="rolesFilter" [ngModel]="rolesFilter" multiple (ngModelChange)="onRolesFilterChange($event)">
                <mat-option value="Admins">
                    {{'Admins' | translate}}
                </mat-option>
                <mat-option value="Magios">
                    {{'Magios' | translate}}
                </mat-option>
                <mat-option value="NewJoiner">
                    {{'NewJoiner' | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-element">
            <mat-label>{{'Users' | translate}}</mat-label>
            <mat-select [value]="selectedUsers" [ngModel]="selectedUsers" multiple (ngModelChange)="onUsersFilterChange($event)">
              <mat-option *ngFor="let user of getUsers$ | async" [value]="user">{{user}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-element">
            <mat-label>{{'Countries' | translate}}</mat-label>
            <mat-select [value]="selectedCountries" [ngModel]="selectedCountries" multiple (ngModelChange)="onCountriesFilterChange($event)">
              <mat-option *ngFor="let country of getCountries$ | async" [value]="country">
                <ng-container *ngIf="country == ''">
                    {{'Empty' | translate}}
                  </ng-container>
                  <ng-container *ngIf="country != ''">
                    {{country}}
                  </ng-container>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'Cancel' | translate }}</button>
    <button mat-button (click)="onClear()">{{'Clear' | translate }}</button>
    <button mat-button cdkFocusInitial (click)="onAccept()">{{'Accept' | translate}}</button>
</mat-dialog-actions>