<h2 mat-dialog-title>{{'Filters' | translate}}</h2>
<mat-dialog-content class="mat-typography">
    <h3>{{'Select filters' | translate}}</h3>
    <div class="row">
        
        <mat-form-field class="filter-element">
            <mat-label>{{'User status' | translate}}</mat-label>
            <mat-select [value]="activeFilter" [ngModel]="activeFilter" (ngModelChange)="onStatusFilterChange($event)">
                <mat-option value="ALL">
                    {{'All' | translate}}
                </mat-option>
                <mat-option value="ACTIVE">
                    {{'Actives' | translate}}
                </mat-option>
                <mat-option value="INACTIVE">
                    {{'Inactives' | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-element">
            <mat-label>{{'Countries' | translate}}</mat-label>
            <mat-select [value]="selectedCountries" [ngModel]="selectedCountries" multiple (ngModelChange)="onCountriesFilterChange($event)">
              <mat-option *ngFor="let country of getCountries$ | async" [value]="country">{{country}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'Cancel' | translate }}</button>
    <button mat-button (click)="onClear()">{{'Clear' | translate }}</button>
    <button mat-button cdkFocusInitial (click)="onAccept()">{{'Accept' | translate}}</button>
</mat-dialog-actions>