<mat-nav-list>
    <a mat-list-item (click)="navigate('welcome')">{{ 'Welcome' | translate }}</a>
    <a mat-list-item (click)="navigate('modules')">{{ 'Modules' | translate }}</a>
    <a mat-list-item *ngIf="isNonNewUser$ | async" (click)="navigate('user-stats')">{{ 'User stats' | translate }}</a>
    <a mat-list-item *ngIf="isNonNewUser$ | async" (click)="navigate('server-events')">{{ 'Server events' | translate }}</a>
    <a mat-list-item *ngIf="isNonNewUser$ | async" (click)="navigate('dashboard')">{{ 'Dashboard' | translate }}</a>
    <a mat-list-item *ngIf="isNonNewUser$ | async" (click)="navigate('server-data')">{{ 'Servers' | translate }}</a>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onDownloadUserGuide()">{{ 'New users guide' | translate }}</a>
    <a mat-list-item *ngIf="isNonNewUser$ | async" (click)="onDiscord()">{{ 'Discord' | translate }}&nbsp;<img width="20" src="/assets/images/discord.png"> </a>
    <a mat-list-item (click)="onLogout()">{{ 'Logout' | translate }}&nbsp;<fa-icon [icon]="faSignOutAlt"></fa-icon> </a>
</mat-nav-list>
