<div class="container" *ngIf="getEvents$ | async as data">
    <div class="user-header">
      <img *ngIf="data?.user?.avatar" class="rounded-circle" width="30" src="https://cdn.discordapp.com/avatars/{{data?.user.id}}/{{data?.user?.avatar}}">&nbsp;<b>{{data?.user?.username}}</b>
    </div>
    <mat-tab-group backgroundColor="primary">
        <mat-tab *ngFor="let server of getServers$ | async" label="Server {{server.id}}">
          <app-user-events-server [server]="server" [events]="data.events"></app-user-events-server>
        </mat-tab>
    </mat-tab-group>
</div>

<!--
<button mat-button matBadgePosition="before" matBadgeColor="warn" class="float-btn filter-btn">
  <fa-icon [icon]="faMinusSquare" class="float-btn-icon"></fa-icon>
</button>
-->

<button mat-button matBadgePosition="before" matBadgeColor="warn" class="float-btn back-btn" (click)="onBack()">
  <fa-icon [icon]="faChevronLeft" class="float-btn-icon"></fa-icon>
</button>