table {
    font-size: small;
    border: 1px solid
}
th {
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000000 !important;;
}
td.normal {
    text-align: center;
    border: 1px solid #000000;
}
th.terrains, td.terrains {
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000000;
    background-color:rgba(0, 174, 255, 0.775);
}
th.jets, td.jets {
    text-align: center;
    border: 1px solid #000000;
    background-color:rgba(0, 255, 64, 0.816);
}
th.warbirds, td.warbirds {
    text-align: center;
    border: 1px solid #000000;
    background-color:rgba(255, 145, 0, 0.809);
}
th.helis, td.helis {
    text-align: center;
    border: 1px solid #000000;
    background-color:rgba(255, 89, 0, 0.789);
}
th.others, td.others {
    text-align: center;
    border: 1px solid #000000;
    background-color:rgba(255, 217, 0, 0.755);
}
td.terrains, td.jets, td.warbirds, td.helis, td.others {
    cursor:pointer;
}
.table-fixed {
    width: 100%;
}
.table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.float-btn {
    position:fixed;
	width:60px;
	height:60px;
    right:25px;
    color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.filter-btn {
    bottom:120px;	
	background-color:#910998;
}

.show-hide-btn {	
	bottom:40px;	
	background-color:#094998;
}

.float-btn-icon {
  line-height: 60px;
  font-size: 30px;
}

.admin {
    color: rgba(255, 0, 0, 0.789);
}
.magio{
    color: rgba(0, 0, 255, 0.727);
}
.newjoiner{
    color: rgb(255, 166, 0);
}