<form noValidate [formGroup]="form" class="server-form">

    <mat-card>
        <mat-card-title>{{'Server'| translate }} {{server.id}}</mat-card-title>

        <mat-form-field class="field-full-width">
            <mat-label>{{'Name' | translate}}</mat-label>
            <input matInput placeholder="{{'Name' | translate}}" formControlName="name">
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-label>{{'Ip address' | translate}}</mat-label>
            <input matInput placeholder="{{'Ip address' | translate}}" formControlName="ip">
        </mat-form-field>
    
        <mat-form-field class="field-full-width">
            <mat-label>{{'Password' | translate}}</mat-label>
            <input matInput placeholder="{{'Password' | translate}}" formControlName="password">
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <mat-label>{{'Map' | translate}}</mat-label>
            <mat-select formControlName="map">
                <mat-option value="">{{'Select one' | translate}}...</mat-option>
                <mat-option value="Caucasus">{{'Caucasus' | translate}}</mat-option>
                <mat-option value="Mariana Islands">{{'Mariana Islands' | translate}}</mat-option>
              <mat-option *ngFor="let terrain of terrains" [value]="terrain.name">
                {{terrain.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
        <mat-form-field class="field-full-width">
            <mat-label>{{'Description' | translate}}</mat-label>
            <input matInput placeholder="{{'Description' | translate}}" formControlName="description">
        </mat-form-field>
    
        <mat-form-field class="field-full-width">
            <mat-label>{{'Others' | translate}}</mat-label>
            <input matInput placeholder="{{'Others' | translate}}" formControlName="others">
        </mat-form-field>

        <mat-slide-toggle class="toggle-field" formControlName="srs" color="primary">
            {{'SRS' | translate}}
        </mat-slide-toggle>

        <mat-slide-toggle class="toggle-field" formControlName="atis" color="primary">
            {{'ATIS' | translate}}
        </mat-slide-toggle>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSave()">{{'Save' | translate }}</button>
        </mat-card-actions>
    </mat-card>
    <br>
</form>
